<section class="home" id="home">

  <div class="home-container">

    <!-- Text -->
    <div class="home-content">

   <h1>
  HEY
  <span>I'M AYA HASSAN</span>
</h1>

      <h2 class="developer-title">
  I'M
  <span class="typing-text">Front End Developer</span>
</h2>

    
<p class="description">
  I create modern, responsive and user-friendly web applications
  using Angular, HTML, CSS and JavaScript.
</p>
      <div class="home-buttons">

        <a
          href="#projects"
          class="btn-primary">
          View My Work
         <i class="bi bi-arrow-up-right"></i>

        </a>


      

      </div>

      <!-- Social -->
      <!-- Social -->
<div class="social-links">

  <!-- GitHub -->
  <a
    href="https://github.com/Aya-Hassan-elsayed"
    target="_blank"
    rel="noopener noreferrer"
    class="github"
    aria-label="GitHub">

    <i class="bi bi-github"></i>

  </a>


  <!-- LinkedIn -->
  <a
    href="https://www.linkedin.com/in/aya-hassan-elsayed/"
    target="_blank"
    rel="noopener noreferrer"
    class="linkedin"
    aria-label="LinkedIn">

    <i class="bi bi-linkedin"></i>

  </a>


  <!-- WhatsApp -->
  <a
    href="https://wa.me/201020632179"
    target="_blank"
    rel="noopener noreferrer"
    class="whatsapp"
    aria-label="WhatsApp">

    <i class="bi bi-whatsapp"></i>

  </a>

</div>

    </div>


    <!-- Image -->
    <div class="home-image">

      <div class="image-circle">

        <img
          src="assets/images/me.jfif"
          alt="Aya Hassan">

      </div>

    </div>

  </div>

</section>